.header-container {
  position: relative;
  color: white;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.site-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.main-navbar {
  padding: 10px 20px;
}

.category-button {
  margin-right: 5px;
  transition: transform 0.2s;
}

.category-button:hover {
  transform: scale(1.05);
}

.error-message, .loading-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.product-card {
  cursor: pointer;
  text-align: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.product-details-card {
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.category-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.custom-cart-modal .modal-content {
  background-color: #f8f9fa; /* Couleur de fond */
  border-radius: 15px;
}
.custom-cart-modal .modal-header {
  background-color: #343a40; /* Fond de l'en-tête */
  color: white; /* Couleur du texte */
}





























