.drawer {
    position: fixed;
    top: 0;
    right: -400px; /* Drawer est initialement caché */
    width: 900px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.drawer.open {
    right: 0; /* Quand ouvert, le drawer s’affiche */
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.drawer-body {
    flex: 1;
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item p {
    margin: 0;
}

.remove-item {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.drawer-footer {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
    text-align: right;
}

.close-drawer,
.close-button {
    background: none;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
